*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* header-top */
.header-top{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    font-weight: bolder;
}
.logo h1, a{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #585858;
    text-decoration: none;
    transition: 0.3s;
}
.logo span{
    color: #FB9333;
}
.logo h1:hover{
    color: #FB9333;
}
.navbar-collapse{
    flex-grow: 0;
}
.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FB9333; 
    --bs-navbar-hover-color: #FB9333;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 20px 0 20px;
}
.nav-link{
    text-decoration: none;
    color: #585858;
}
.nav-item{
    font-size: 20px;
    padding-left: 100px;
}
.nav-item button{
    border: none;
    border-radius: 100px;
    padding: 13px 25px 13px 25px;
    background-color: #FB9333;
    font-size: 19px;
    font-weight: bold;
    color: white;
    transition: color 0.3s, background-color 0.3s;
}
.nav-item button:hover{
    background-color: #ffffff4b;
    color: #FB9333;
}

/* header */
.header{
    margin-top: 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-box-1{
    display: flex;
    flex-direction: column;
    max-width: 510px;
}
.slogan{
    padding: 10px 20px 10px 20px;
    max-width: 220px;
    border-radius: 100px;
    background-color: #FFF0DC;
    color: #FB9333;
    font-size: 1em;
    font-weight: bolder;
    margin-bottom: 25px;
}
.header-box-1 span{
    color: #FB9333;
}
.header-box-1 h1{
    font-weight: 800;
    color: #575757;
    font-size: 4em;
}
.header-box-1 p{
    color: #828282;
    width: 80%;
    font-size: 1em;
}
.header-box-1 a{
    margin: 20px 0 30px 0;
}
.header-box-1 a button{
    border: none;
    border-radius: 100px;
    background-color: #FB9333;
    padding: 14px 30px 14px 30px;
    font-size: 0.7em;
    color: white;
    transition: color 0.3s, background-color 0.3s;
}
.header-box-1 a button:hover{
    background-color: #ffffff4b;
    color: #FB9333;
}
.header-box-1 img{
    max-width: 300px;
    width: 100%;
}
.header-box-2 img{
    max-width: 600px;
}
.pattern img{
    position: absolute;
    z-index: -100;
    top: 0;
    width: 100%;
    height: 100%;
}

/* main */

/* container-1 */
.main-wrapper-1{
    margin-top: 120px;
}
.main-wrapper-1 .wrapper-box, .wrapper-card-box-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.wrapper-box h1{
    margin-right: 80px;
    font-size: 2.5em;
    font-weight: bold;
    color: #585858;
}
.wrapper-box h1 span{
    color: #FB9333;
}
.wrapper-box p{
    margin-left: 80px;
    font-size: 1.1em;
    font-weight: lighter;
    color: #828282;
}
.wrapper-card-box-1{
    margin-top: 50px;
}
.card-box-1{
    transition: box-shadow 0.6s;
    padding: 40px;
    height: 450px;
}
.card-box-1:hover{
    box-shadow: 0 80px  80px #976c003f;
}
.card-box-1 a button{
    border: none;
    border-radius: 100px;
    font-size: 0.8em;
    color: #575757;
    padding: 9px 15px 9px 15px;
    transition: background-color 0.2s, color 0.2s;
}
.card-box-1 a button:hover{
    background-color: #FB9333;
    color: white;
}
.card-txt-1{
    min-height: 150px;
}
.card-txt-1 h1{
    margin-top: 50px;
    color: #2B2B2B;
    font-size: 1.3em;
    font-weight: 600;
}
.card-txt-1 p{
    max-width: 250px;
    color: #575757;
    font-size: 1em;
}

/* container-2 */
.main-slider-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
    height: 650px;
    background: #FFF3E1;
}
.slider-box{
    max-width: 500px;
}
.slider-box h1{
    max-width: 325px;
    font-weight: 600;
    font-size: 2.4em;
    color: #333333;
}
.slider-box h1 span{
    color: #FB9333;
}
.slider-box p{
    margin-top: 40px;
    max-width: 350px;
    font-size: 1.1em;
    color: #999999;
}
.carousel{
    max-width: 300px;
}
.carousel-item{
    max-width: 300px;
    min-height: 400px;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
}
.carousel-item h1{
    margin-top: 30px;
    font-size: 1.6em;
    color: #2B2B2B;
}
.carousel-item span{
    font-size: 0.9em;
    color: #999999;
}
.carousel-item p{
    margin-top: 10px;
    font-size: 1em;
    color: #575757;
}

/* container-3 */
.main-wrapper-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    text-align: center;
}
.main-wrapper-2 p{
    font-size: 1.1em;
    color: #FB9333;
    font-weight: 600;    
}
.main-wrapper-2 h1{
    max-width: 630px;
    font-weight: bold;
    font-size: 2.5em;
    color: #585858;
}
.main-wrapper-2 h1 span{
    color: #FB9333;
}
.wrapper-card-box-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.wrapper-card-box-2 .card-1, .card-2, .card-3{
    margin: 80px 25px 0 25px;
    width: 350px;
    height: 500px;
    border-radius: 50px;
}
.card-1{
    position: relative;
    background-image: url(img/salad-1.png);
    background-size: cover;
}
.card-2{
    position: relative;
    background-image: url(img/salad-2.png);
    background-size: cover;
}
.card-3{
        position: relative;
    background-image: url(img/salad-3.png);
    background-size: cover;
}
.card-txt-2{
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 20px;
    font-family: 'Poppins', sans-serif;
}
.card-txt-2 p{
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}
.card-txt-2 h1{
    font-size: 0.9em;
    color: #585858;
    font-weight: 600;
    color: white;
}

/* container-4 */
.main-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 1200px;
    height: 600px;
    margin-top: 150px;
    border-radius: 50px;
    background-image: url(img/form-background.png);
    background-size: 100% 100%;
}
.main-form-container span{
    font-size: 1.3em;
    font-weight: 500;
    color: #FB9333;
}
.main-form-container h1{
    margin-top: 10px;
    line-height: 50px;
    max-width: 560px;
    font-size: 2.5em;
    font-weight: 600;
    color: #585858;
}
.main-form-container p{
    margin-top: 10px;
    max-width: 570px;
    line-height: 30px;
    font-size: 1.2em;
    color: #575757;
}
.form-box{
    display: flex;
    margin-top: 80px;
}
.form-control{
    padding: 15px 100px 15px 100px;
    border: none;
    border-radius: 100px 0 0 100px;
}
.btn{
    color: white;
    background-color: #FB9333;
    border-radius: 0 100px 100px 0;
}
.btn:hover{
    background-color: #ffffff4b;
    color: #FB9333;
}

/* footer */
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
    min-height: 300px;
}
.footer-logo{
    margin-bottom: 10px;
}
.footer-section{
    display: flex;
    flex-direction: column;
}
.footer-section p{
    margin-top: 25px;
    width: 210px;
    font-size: 1em;
    color: #575757;
}
.footer-nav-active{
    font-size: 19px;
    font-weight: bold;
}
.footer-nav{
    font-size: 18px;
    padding: 5px;
}
.footer-navbar{
    display: flex;
    align-items: start;
}

/* adaptive */