*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 200vh;
}

/* header-top */
.header-top{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    font-weight: bolder;
}
.logo h1, a{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #585858;
    text-decoration: none;
}
.logo span{
    color: #FB9333;
}
.navbar-collapse{
    flex-grow: 0;
}
.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FB9333; 
    --bs-navbar-hover-color: #FB9333;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 20px 0 20px;
}
.nav-link{
    text-decoration: none;
    color: #585858;
}
.nav-item{
    font-size: 20px;
    padding-left: 100px;
}
.nav-item button{
    border: none;
    border-radius: 100px;
    padding: 13px 25px 13px 25px;
    background-color: #FB9333;
    font-size: 19px;
    font-weight: bold;
    color: white;
}

/* header */
.header{
    margin-top: 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-box-1{
    display: flex;
    flex-direction: column;
    max-width: 510px;
}
.slogan{
    padding: 10px 20px 10px 20px;
    max-width: 220px;
    border-radius: 100px;
    background-color: #FFF0DC;
    color: #FB9333;
    font-size: 1em;
    font-weight: bolder;
    margin-bottom: 25px;
}
.header-box-1 span{
    color: #FB9333;
}
.header-box-1 h1{
    font-weight: 800;
    color: #575757;
    font-size: 4em;
}
.header-box-1 p{
    color: #828282;
    width: 80%;
    font-size: 1em;
}
.header-box-1 a{
    margin: 20px 0 30px 0;
}
.header-box-1 a button{
    border: none;
    border-radius: 100px;
    background-color: #FB9333;
    padding: 14px 30px 14px 30px;
    font-size: 0.7em;
    color: white;
}
.header-box-1 img{
    max-width: 300px;
    width: 100%;
}
.header-box-2 img{
    max-width: 600px;
}
.pattern img{
    position: absolute;
    z-index: -100;
    top: 0;
    width: 100%;
    height: 100%;
}

/* main */
.main-wrapper{
    margin-top: 120px;
}
.main-wrapper .wrapper-box, .wrapper-card-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.wrapper-box h1{
    margin-right: 80px;
    font-size: 2.5em;
    font-weight: bold;
    color: #585858;
}
.wrapper-box h1 span{
    color: #FB9333;
}
.wrapper-box p{
    margin-left: 80px;
    font-size: 1.1em;
    font-weight: lighter;
    color: #828282;
}

.wrapper-card-box{
    margin-top: 50px;
}
.card-box{
    transition: 0.5s;
    padding: 40px;
    height: 450px;
}
.card-box:hover{
    box-shadow: 0 80px  80px #976c003f;
}
.card-box a button{
    border: none;
    border-radius: 100px;
    font-size: 0.8em;
    color: #575757;
    padding: 9px 15px 9px 15px;
    transition: 0.2s;
}
.card-box a button:hover{
    background-color: #FB9333;
    color: white;
}
.card-txt{
    min-height: 150px;
}
.card-txt h1{
    margin-top: 50px;
    color: #2B2B2B;
    font-size: 1.3em;
    font-weight: 600;
}
.card-txt p{
    max-width: 250px;
    color: #575757;
    font-size: 1em;
}